<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytek.digitalpark.datacenter.datax.mapper.DsMapper" >
 
     <select id="findAll" resultType="DataSourceModel">
         SELECT
             *
         FROM
             dx_dts
             WHERE <![CDATA[ ds_status <> '-2' ]]>
             ORDER BY create_time DESC
     </select>

    <select id="findById" resultType="DataSourceModel" parameterType="java.lang.String">
        SELECT
            *
        FROM
            dx_dts
        WHERE <![CDATA[ ds_status <> '-2' ]]>
             AND ds_id = #{dsId}
    </select>

    <insert id="insertDs" parameterType="DataSourceModel">
        INSERT INTO dx_dts
        ( ds_id, ds_desc, ds_user, ds_pass, ds_type, ds_url, ds_status, create_time, ds_schema )
        VALUES
            ( REPLACE(UUID(),"-",""), #{dsDesc}, #{dsUser}, #{dsPass}, #{dsType}, #{dsUrl}, 1, #{createTime}, #{dsSchema} )
    </insert>

    <update id="updateDsById" parameterType="DataSourceModel">
        UPDATE dx_dts
        SET ds_user = #{dsUser},
            ds_desc = #{dsDesc},
            ds_pass = #{dsPass},
            ds_type = #{dsType},
            ds_url = #{dsUrl},
            ds_status = #{dsStatus},
            ds_schema = #{dsSchema}
        WHERE
            ds_id = #{dsId}
    </update>

    <delete id="delDsById" parameterType="java.lang.String">
        UPDATE dx_dts SET ds_status = -2 WHERE ds_id = #{dsId}
    </delete>

</mapper>