<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytek.digitalpark.datacenter.datax.mapper.NodeMapper" >
 
     <select id="findAll" resultType="NodeModel">
         SELECT
             *
         FROM
             dx_node
             WHERE <![CDATA[ node_status <> '-2' ]]>
     </select>

    <select id="findById" resultType="NodeModel" parameterType="java.lang.String">
        SELECT
            *
        FROM
            dx_node
        WHERE <![CDATA[ node_status <> '-2' ]]>
             AND node_id = #{nodeId}
    </select>

    <insert id="insertNode" parameterType="NodeModel">
        INSERT INTO dx_node
        ( node_id, node_ip, node_port, node_type, node_status, node_login_user, node_login_pass, node_default_path, node_datax_path )
        VALUES
            ( REPLACE(UUID(),"-",""), #{nodeIp}, #{nodePort}, #{nodeType}, #{nodeStatus}, #{nodeLoginUser}, #{nodeLoginPass}, #{nodeDefaultPath}, #{nodeDataxPath})
    </insert>

    <update id="updateNodeById" parameterType="NodeModel">
        UPDATE dx_node
        SET node_ip = #{nodeIp},
            node_port = #{nodePort},
            node_type = #{nodeType},
            node_status = #{nodeStatus},
            node_login_user = #{nodeLoginUser},
            node_login_pass = #{nodeLoginPass},
            node_default_path = #{nodeDefaultPath},
            node_datax_path = #{nodeDataxPath}
        WHERE
            node_id = #{nodeId}
    </update>

    <delete id="delNodeById" parameterType="java.lang.String">
        UPDATE dx_node SET node_status = -2 WHERE node_id = #{nodeId}
    </delete>

</mapper>