<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.datax.mapper.TaskMapper" >
 
     <select id="findAll" resultType="TaskModel">
         SELECT
             t.task_id,
             t.task_name,
             t.task_desc,
             t.reader_ds_id,
             t.writer_ds_id,
             (select s.ds_desc from dx_dts s where s.ds_id = t.reader_ds_id)reader_ds_name,
             (select s.ds_desc from dx_dts s where s.ds_id = t.writer_ds_id)writer_ds_name,
             t.task_content,
             status,
             create_time,
             update_time,
             task_save_name
         FROM
            dx_task t
         WHERE
            STATUS <![CDATA[ <> '-2' ]]>
         ORDER BY
            update_time DESC
     </select>

    <select id="findById" resultType="TaskModel" parameterType="java.lang.String">
        SELECT
            *
        FROM
            dx_task
        WHERE <![CDATA[ STATUS <> '-2' ]]>
             AND task_id = #{taskId}
    </select>

    <insert id="insertTask" parameterType="TaskModel">
        INSERT INTO dx_task
        ( task_id, task_name, task_desc, reader_ds_id, writer_ds_id, task_content, status, create_time, task_save_name )
        VALUES
            ( REPLACE(UUID(),"-",""), #{taskName}, #{taskDesc}, #{readerDsId}, #{writerDsId}, #{taskContent}, #{status}, #{createTime}, #{taskSaveName})
    </insert>

    <delete id="delTaskById" parameterType="java.lang.String">
        UPDATE dx_task SET status = -2 WHERE task_id = #{taskId}
    </delete>

    <update id="updateTaskById" parameterType="TaskModel">
        UPDATE dx_task
        SET task_name = #{taskName},
            task_desc = #{taskDesc},
            reader_ds_id = #{readerDsId},
            writer_ds_id = #{writerDsId},
            task_content = #{taskContent},
            status = #{status},
            update_time = #{updateTime},
            task_save_name = #{taskSaveName}
        WHERE
            task_id = #{taskId}
    </update>
</mapper>